:root {
  --font: "Inter", sans-serif;

  /* colors */
  --links: #4e80ee;
  --text-color: #030616;
  --line-color: #d2d5da;
  --bg-header: #ffffff;
  --bg-main: #f8fafc;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: min(60%, 120rem);
  margin: 0 auto;
}

body {
  font-family: var(--font);
  background-color: var(--bg-main);
  color: var(--text-color);
}

h1,
h2 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 3.6rem; /* 36px */
}

h2 {
  font-size: 2.4rem; /* 24px */
}

p {
  font-size: 1.6rem; /* 16px */
  font-weight: 400;
  margin: 0;
}

a {
  color: var(--links);
  text-decoration: none;
}

.header {
  background-color: var(--bg-header);
  text-align: center;
  padding: 5rem;
  margin-bottom: 5rem;
}

.header p {
  margin-top: 2rem;
}

.main {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .main {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .main {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .main {
    width: 60%;
  }
}

.question h2 {
  margin: 3rem 0;
}

.question p {
  margin-bottom: 3rem;
}

.question__ol {
  font-family: var(--font);
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.question__ol li {
  margin-bottom: 1.5rem;
}

.question {
  border-bottom: 1px solid var(--line-color);
}

.question:last-child {
  border-bottom: none;
}

.question__ul {
  font-family: var(--font);
  font-size: 1.6rem;
}

.question__ul li {
  margin-bottom: 1.5rem;
  line-height: 2;
}

.question__ul li span {
  font-weight: bold;
}

.footer {
  text-align: center;
  font-size: 1.6rem;
  padding: 3rem 0;
}
